.intro {
    height: auto;
}

.bnn{
    height: 600px;
}

.banner {
    height: auto;
    background-size: cover;
    height: auto;
    background-color: #407BFF;
}

.banner img-banner{
    height: auto;
    width: auto;
}


.banner-kontent {
    padding-top: 50px;
}

.banner-kontent h1 {
    font-size: 60px;
}

.banner-kontent p {
    font-size: 20px;
}

btn-banner {
    background-color: rgb(253 224 71);
}

.content p{
    color: grey;
}

.content img{
    height:300px;
    width: 320px;
}

.card-text {
    color: grey;
}

/* styling login page */

.form-login{
    border: 2px solid #6f7175;
}

.login-section {
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-pendaftaran {
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-quiz {
    border-radius: 20px 20px 0px 0px;
    height: 40vh;
    background-image: url("../assets/img/backgoundquiz.jpg")
}

.container-bannerquiz {
    height: auto;
} 